.project {
    min-height: 90vh;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    flex-flow: column;

  }
  
  .project img {
    margin-top: 20px;
    max-width: 400px;
    height: auto;
    border: 5px solid;
    animation: borderColorChange 3s linear 0s infinite;
  }
  @keyframes borderColorChange {
    0%{
      border-color: lightblue;
    }
    30%{
      border-color: violet;
    }
    60%{
      border-color: #9c3bc9;
    }
    100%{
      border-color: aqua;
    }
    
  }
  
  
  .project-details {
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 20px;
    max-width: 900px;
    background-color: #f2f2f2;
    
  }
  
  .project-details h1 {
    text-align: center;
    margin-top: 0;
  }
  
  .project-details h3 {
    margin-bottom: 10px;
  }
  
  .btn {
    margin-left: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #555;
  }
  
  .headprojele{
    padding: 15px 0;
    width: 140px;
    margin: 0 auto;
  }
  .skeleheadproj{
    height: 35px;
  }
  .imgprojele{
    padding: 20px 0;
    max-width: 400px;
    margin: 0 auto;
  }
  .skeleimgproj{
    height: 200px;
  }
  .boxprojdetail{
    padding: 10px 10px;
  }
  .projdetail{
    border: 2px dotted lightblue;
    border-radius: 10px;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    flex-flow: column;
    gap: 20px;    
  }
  .headprojdetailele{
    margin: 0 auto;
    max-width: 440px;
  }
  .skeleheadprojdetail{
    height: 35px;
  }
  .detailprojeletitle1{
    max-width: 400px;
  }
  .skeledetailprojeletitle1{
    height: 25px;
  }
  .detailprojeletitle2{
    max-width: 830px;
  }
  .skeledetailprojeletitle1{
    height: 25px;
  }
  
  .skeledetailprojeletitle3{
    height: 25px;
  }
  .detailbtn{
    display: flex;
    gap: 20px;
  }
  .detailbtn1{
    width: 130px;
    height: 45px;
  }
  .detailbtn2{
    width: 260px;
    height: 45px;
  }
  .detailbtn3{
    width: 260px;
    height: 45px;
  }


  @media (max-width:750px) {
    .project img{
        max-width: 300px;
        border-radius: 50%;
    }
    .project-details{
        max-width: 100%;
    }
    .detailbtn{
      flex-flow: column;
    }
    .imgprojele{
      display: flex;
      justify-content: center;
    }
    .skeleimgproj{

      width: 300px;
      border-radius: 50%;
    }
  }